{% extends 'base.html' %}
{% load staticfiles %}
{% block title_block %}Change password{% endblock %}
{% block header %}
     <meta charset="utf-8">
     <title>jQuery UI Datepicker - Default functionality</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
     <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
{% endblock %}
{% block content %}
    <form class="login" method="POST" action="">
    {% if scuess %}
        {{ scuess }}
    {% endif %}
    {% if errors %}
        {{ errors }}
    {% endif %}
    {% if form_error %}
        {{ form_error }}
    {% endif %}
    {% if old_password %}
        {{ old_password }}
    {% endif %}
        {% csrf_token %}
        <input class="login-input" type="text" id="username" placeholder="please input your username" />
        <input class="login-input" type="password" name="old_password" placeholder="Old Password"/>
        <input class="login-input" type="password" name="new_password1" placeholder="Please Input Your Newpassword"/>
        <input class="login-input" type="password" name="new_password2" placeholder="Please Input your Newpassword again"/>
        <button id="submit" class="btn btn-default">submit</button>
    </form>
{% endblock %}