{% extends 'base.html' %}
{% load staticfiles %}
{% block title_block %}Rango index{% endblock %}
{% block header %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
     <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <div class="page-header">
            {% if user_pic == '' %}
                <h1>Rango says... hello  {{ user.username }}!<a href="{% url 'change_pic' %}"><span style="float:right">your photo</span> </a></h1>
            {% else %}

                <h1>Rango says... hello  {{ user.username }}!<a href="{% url 'change_pic' %}"><img style="width:70px;height: 80px;margin: 0px auto;float:right" src="/media/{{ user_pic }}" /></a></h1>
            {% endif %}
        {% else %}
            <h1>Rango says... hello world!</h1>
        {% endif %}
        </div>
    <div class="row cms_placeholder">
        <div class="col-xs-12 col-sm-6 placeholder">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3>Categories</h3>
                </div>
            </div>

            {% if categories %}
            <ul class="list-group">
                {% for category in categories %}
                    <li class="list-group-item"><a href="{% url 'category' category.slug %}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>there are not category present</strong>
        {% endif %}
        </div>
        <div class="col-xs-12 col-sm-6 placeholder">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3>the top five pages</h3>
                </div>
            </div>

            {% if pages %}
                <ul class="list-group">
                   {% for page in pages %}
                    <li class="list-group-item"><a href="{{ page.url }}">{{ page.title }}</a>-{{ page.Category }}({{ page.views }} view(s))</li>
                    {% endfor %}
                </ul>
            {% else %}
                <strong>there are not category present</strong>
            {% endif %}
        </div>
    </div>
    <p>visits:{{ visits }}</p>
{% endblock %}
