<!DOCTYPE html>
<html>
    <head>
        <title>profile</title>
    </head>
    <body>
        <form role="form" method="POST" action=".">
        {% csrf_token %}
        <h2 class="form-signin-heading">modify your profile</h2>
        <div class="form-group" >
        <p> <label for="id_username">Username:</label>
            {% if user_id %}
                <input class="form-control"  id="user_id" maxlength="30" name="username" type="text"  value="{{ user_id }}"/></p>
            {% else %}
                <input class="form-control"  id="user_id" maxlength="30" name="username" type="text"  value="please fill you user name here"/></p>
            {% endif %}

    </div>
    <div class="form-group">
        <p><label for="picture">url</label>
        <input class="form-control" id="website" name="website" type="url" value="{{ website }}" /></p>
 </div>
<div class="form-group">
        <p><label for="picture">url</label>
        <input class="form-control" id="birthday" name="birthday" type="date" value="{{ birth_day }}" /></p>
 </div>
<button type="submit" class="btn btn-default">Submit</button>
    </form>
    </body>
</html>

