{% load static %}
<!DOCTYPE html>
<html>
    <head>
    <title>manage ip address</title>
    <link rel="stylesheet" href="{% static 'skin/blue.monday/css/prettify-jPlayer.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'skin/pink.flag/css/jplayer.pink.flag.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css" />
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.jplayer.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jplayer.playlist.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.jplayer.inspector.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/themeswitcher.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $.getJSON('auth_ip/', function(data){
                $.each(data, function(index, value){
                ip_list = "<tr><td>" + index + "</td><td>"+ value.fields.name +"</td><td>" + value.fields.ip_address  +
                        "</td><td><button class='detcheckbox' name=" + value.fields
                                .ip_address + ">Delete</button></td></tr>"
                $('#auth_iplist').append(ip_list);

            });
            });
            $("#auth_iplist").on('click','button', function(){
                ip_address = $(this).attr('name');
                $.ajax({
                    type: "POST",
                    url: "/coffeebreak/ip_delete/",
                    data: {ip_address:ip_address},
                    success: function(data) {
{#                        alert(response.sucess);#}
                        $('#auth_iplist').html(data);
                    }
                })
            })

        })
    </script>
    </head>
    <body>
                <h5>status list</h5>
                <div id="status_list">

                </div>
                <h5>authorized ip list</h5>
                <table id="auth_iplist" width="80%">
                    <th>Index</th>
                    <th>Name</th>
                    <th>IP_address</th>
                    <th>Delete</th>
                </table><br>
            <form name='add_ip' method="POST" action="">
                {% csrf_token %}
{#                {{ form.as_table }}#}
                <label>please input your name</label><br>
                <input type="text" name="name" id="name" placeholder="your name" /><br><br>
               <label>please input your IP address</label><br>
                <input type="text" name="ip_address" id="ip_address" placeholder="please input IP address" /><br><br>
                <input type="submit" id="ip_submit" name="ip_submit" value="Add" />
            </form>
    </body>
</html>