{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'skin/blue.monday/css/prettify-jPlayer.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'skin/pink.flag/css/jplayer.pink.flag.min.css' %}" type="text/css" />
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.jplayer.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jplayer.playlist.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.jplayer.inspector.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/themeswitcher.js' %}"></script>
    <script type="text/javascript">

    $(document).ready(function(){
        var myPlayerlist = new jPlayerPlaylist({
            jPlayer: "#jquery_jplayer_N",
            cssSelectorAncestor: "#jp_container_N"
        },[
                {
			title:"Big Buck Bunny Trailer",
			artist:"Blender Foundation",
			free:true,
			m4v:"http://www.jplayer.org/video/m4v/Big_Buck_Bunny_Trailer.m4v",
			ogv:"http://www.jplayer.org/video/ogv/Big_Buck_Bunny_Trailer.ogv",
			webmv: "http://www.jplayer.org/video/webm/Big_Buck_Bunny_Trailer.webm",
			poster:"http://www.jplayer.org/video/poster/Big_Buck_Bunny_Trailer_480x270.png"
		},
		{
			title:"Finding Nemo Teaser",
			artist:"Pixar",
			m4v: "http://www.jplayer.org/video/m4v/Finding_Nemo_Teaser.m4v",
			ogv: "http://www.jplayer.org/video/ogv/Finding_Nemo_Teaser.ogv",
			webmv: "http://www.jplayer.org/video/webm/Finding_Nemo_Teaser.webm",
			poster: "http://www.jplayer.org/video/poster/Finding_Nemo_Teaser_640x352.png"
		},
		{
			title:"Incredibles Teaser",
			artist:"Pixar",
			m4v: "http://localhost:8000/media/learn/English.mp4",
			ogv: "http://www.jplayer.org/video/ogv/Incredibles_Teaser.ogv",
			webmv: "http://www.jplayer.org/video/webm/Incredibles_Teaser.webm",
			poster: "http://www.jplayer.org/video/poster/Incredibles_Teaser_640x272.png"
		}],{
            swfPath: "/staic/js",
            supplied: "mp4, m4v, ogv",
            useStateClassSkin: true,
            autoBlur: false,
            smoothPlayBar: true,
            keyEnabled: true,
            remainingDuration: true,
            toggleDuration: true
    });


        myPlayerlist.add({
            title:"Your Face",
            artist:"The Stark Palace",
            mp3:"http://www.jplayer.org/audio/mp3/TSP-05-Your_face.mp3",
            oga:"http://www.jplayer.org/audio/ogg/TSP-05-Your_face.ogg",
            poster: "http://www.jplayer.org/audio/poster/The_Stark_Palace_640x360.png"

        });
        var video_list = ""
        $.getJSON('../videodata/', function(data){
            $.each(data, function(index, value){
                myPlayerlist.add({
                    title: value.fields.video_name,
                    artist: value.fields.video_owner,
                    m4v: '../media/' + value.fields.video_path
                });
                video_list = "<a href=../../media/" + value.fields.video_path + "><li>" + value.fields.video_name +
                        "</li></a>"
                $('#video_name_list').append(video_list);
            })
        });
        $("#jplayer_inspector_1").jPlayerInspector({jPlayer:$("#jquery_jplayer_1")});
        $('#file_upload').live(submit, function(event){
            event.preventDefault()
            $.ajax({
                data:$(this).serialize(),
                type:$(this).attr('POST'),
                url:$(this).attr('videoupload/'),
                success: function(arg){
                    alert(arg);
                }

            })
        })
    });

  </script>

</head>
<body>
<div id="video_list">
    <ul id="video_name_list">

    </ul>
</div>
<form id="file_upload" name="file_upload" enctype="multipart/form-data" method="POST" action="/learn/videoupload/">
             {% csrf_token %}
             {{ sccuess }}
             <input type="text" name="video_name" placeholder="Video Name" value=
                     "{{ video_name }}"/><br>
             <input type="file" name="video_path" />
             <button id="sumbit" type="submit">upload</button>
</form>
<div id="jp_container_N" class="jp-video jp-video-270p" role="application" aria-label="media player" style="margin:
auto">
	<div class="jp-type-playlist">
		<div id="jquery_jplayer_N" class="jp-jplayer"></div>
		<div class="jp-gui">
			<div class="jp-video-play">
				<button class="jp-video-play-icon" role="button" tabindex="0">play</button>
			</div>
			<div class="jp-interface">
				<div class="jp-progress">
					<div class="jp-seek-bar">
						<div class="jp-play-bar"></div>
					</div>
				</div>
				<div class="jp-current-time" role="timer" aria-label="time">&nbsp;</div>
				<div class="jp-duration" role="timer" aria-label="duration">&nbsp;</div>
				<div class="jp-details">
					<div class="jp-title" aria-label="title">&nbsp;</div>
				</div>
				<div class="jp-controls-holder">
					<div class="jp-volume-controls">
						<button class="jp-mute" role="button" tabindex="0">mute</button>
						<button class="jp-volume-max" role="button" tabindex="0">max volume</button>
						<div class="jp-volume-bar">
							<div class="jp-volume-bar-value"></div>
						</div>
					</div>
					<div class="jp-controls">
						<button class="jp-previous" role="button" tabindex="0">previous</button>
						<button class="jp-play" role="button" tabindex="0">play</button>
						<button class="jp-stop" role="button" tabindex="0">stop</button>
						<button class="jp-next" role="button" tabindex="0">next</button>
					</div>
					<div class="jp-toggles">
						<button class="jp-repeat" role="button" tabindex="0">repeat</button>
						<button class="jp-shuffle" role="button" tabindex="0">shuffle</button>
						<button class="jp-full-screen" role="button" tabindex="0">full screen</button>
					</div>
				</div>
			</div>
		</div>
		<div class="jp-playlist">
			<ul>
				<!-- The method Playlist.displayPlaylist() uses this unordered list -->
				<li></li>
			</ul>
		</div>
    <div class="jp-no-solution">
      <span>Update Required</span>
      To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
    </div>
  </div>
</div>

</body>
</html>